In [20]:
import duckdb
conn = duckdb.connect("week3/database.db")

#every cursor is doing one thing at a time
cur = conn.cursor()

In [21]:
# write any SQL statement in python
# return all rows

cur.execute("SELECT * FROM Camp_assignment LIMIT 3")
cur.fetchall()

[(2005,
  'bylo',
  'lmckinnon',
  datetime.date(2005, 6, 1),
  datetime.date(2005, 8, 5)),
 (2005,
  'bylo',
  'blalibert',
  datetime.date(2005, 6, 1),
  datetime.date(2005, 8, 20)),
 (2006,
  'bylo',
  'lmckinnon',
  datetime.date(2006, 6, 1),
  datetime.date(2006, 8, 5))]

In [22]:
inner_query = "SELECT COUNT(*) AS num_nests FROM Bird_nests WHERE Observer = ?"
outer_query = "SELECT DISTINCT Observer FROM Bird_nests"

for row in cur.execute(outer_query).fetchall():
    observer = row[0]
    cur2 = conn.cursor()
    cur2.execute(inner_query, [observer])
    print(f"Observer {observer} gathered {cur2.fetchone()[1]} nests")

IndexError: tuple index out of range

## Pandas
Can import Pandas and use SQL statements.

In [23]:
import pandas as pd

In [24]:
# read in any SQL table as a pandas df
df = pd.read_sql("SELECT * FROM Site", conn)
df.head(5)

,Code,Site_name,Location,Latitude,Longitude,Area
0,barr,Barrow,"Alaska, USA",71.300003,-156.600006,220.399994
1,burn,Burntpoint Creek,"Ontario, Canada",55.200001,-84.300003,63.000000
2,bylo,Bylot Island,"Nunavut, Canada",73.199997,-80.000000,723.599976
3,cakr,Cape Krusenstern,"Alaska, USA",67.099998,-163.500000,54.099998
4,cari,Canning River Delta,"Alaska, USA",70.099998,-145.800003,722.000000